*.iml
.gradle
/local.properties
.idea
.DS_Store
/captures
app/build/intermediates/
app/build/outputs/logs/
app/build/generated/source/buildConfig/androidTest/debug/edu/upc/epsevg/passarllista/test/BuildConfig.java
app/build/generated/
build/generated/
build/intermediates/
